body, html {
    height: 100%;
}
.container-fluid {
    padding-top: 40px;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(#8b82e7,#6631c2);
}

.alert {
    border-radius: 15px;
    height: 2rem;
    margin-bottom: 7rem;
}

.form-control, .card {
    border-radius: 15px !important;
}

.form-control {
    width: 100% !important;
    padding-right: 2.6rem;
}

.icon {
    color: #6631c2;
    padding: 10px;
    z-index: 1;
    margin-left: 12.2rem;

}

.btn-login {
    color: black;
    font-size: 13px;
    padding: 10px;
}

.back-login {
    margin-left: 35%;
}