::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.active-page {
    color: aqua !important;
}

.wrapper {
    margin:0;
    position: relative;
    height: 100%;
    overflow: hidden;
}

li:hover{
    color: aqua !important;
}
.sidebar{
    overflow-x: hidden;
    position: fixed;
    border-top: 1px solid black;
    padding: 25px;
    /* position: absolute; */
    background-color: #3B3486;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
/* .sidebar {
    height: max-content;
    width: 220px;
    pos
    background-color: #3B3486;
    display: flex;
    flex-direction: column;
    z-index: 1000
} */
.main {
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 50px;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: #fafbfe;
    padding-bottom: 50px;
}

.greeting {
    text-align: center;
    /* padding-top: 37px; */
    font-size: 30px;
    color: #0766AD;
}

.card { 
    margin: 15px;
    border-color: #0766AD !important; 
}

.icon {
    margin-bottom: 2px;
    margin-top: 20px;
    color: #0766AD;
    font-size: 4em;
}

#btn-dashboard {
    color: #0766AD !important;
}


/* Class Style */
.w-nothing {
    text-align: center;
    margin-left: 7rem;
    /* padding-top: 37px; */
    font-size: 40px;
    color: #0766AD;
}

.name-link:hover {
    text-decoration: underline !important;
    color: white;
}

.bg {
    /* opacity: 30%; */
    height: 150px;
    background-color: #0766AD;
}

.list-colon, .list-colon2 {
    display: none;
}


.list{
    cursor: pointer;
}
.change {
    display:block;
}

.list-colon-menu:hover {
    color: #0766AD !important;
}

.card:hover {
  box-shadow: 0 0 8px 0 #0766AD;
  transition: 0.4s;
}

.btn:hover {
  box-shadow: 0 0 0 1px #7fcbd7;
  
}

#card-b-2 {
    padding-bottom :1.3rem;
}

.hw:hover {
    color: #0766AD;
}

/* in-class Page */
.item{
    color: #0766AD !important;
}


/* ass-user Page */
.icon-wrap {
    padding:11px 15px 15px 15px;
    height: 3em;
    margin-top: -4px;
    background-color: #0766AD;
}
.icon-file {
    font-size: 1.4em;
}

.bg-ass {
    height: 70px;
    background-color: #F9F9F9;
}
.card-title {
    margin-bottom: 0px !important;
}
.updated {
    margin-top: 3px;
    font-size: 13px;
}

.card-wrap {
    margin: 0px 120px;
}

/* Detail Page Style*/
#title-detail {
    border-color: #0766AD!important;
}

.file {
    width: 100%;
    height: 30em;
}
.content-detail {
    margin-left: 5em;
}
#btn {
    width: 100%;
    background-color: #0766AD;
}

.btn-transparent {
    color: #0766AD !important;
}

.content-detail-ass {
    margin-left: 4.3em;
}

/* Assignment */
.title{
    color: #0766AD;
}

/* Announce */
.profile {
    width: 3rem;
    height: 3rem;
    margin-top: -4px;
}